*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* use of it  */
    box-sizing: border-box;
}
body{
    background-color: black;
}
.card{
    position: relative;
    background: linear-gradient(to right, #13443b, #505d97); /* Light blue to soft purple */
    margin: 70px 70px 70px;
    width: 55%;
    max-width: 470px;
    text-align: center;
    border-radius: 10px;
}
.card input{
    border-radius: 10px;
    margin:10px 10px 10px;
    padding:5px 10px 4px;
    width: 60%;
    max-width: 470px;
    
}
.btn{
    background-color:#25388e ;
    border: 2px solid black;
    border-radius: 18px;
    padding:4px 10px 5px;
    color:white;
    cursor: pointer;

}
/* .temp{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}
.city{

        color: white;
        padding-bottom: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
    
} */
.weather-icon{
    width: 170px;
    margin-top: 40px;
}
.weather h1{
    color: white;
    font-size: 29px ;
    margin-top:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}
.weather h2{
    color: white;
    font-size: 28px;
    padding-bottom: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}
.details {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    justify-content: space-between;

} 
.details img{
    width: 30px;
}
.col{
    margin: 10px 10px 10px;
    
}
 p{
    color: white;
    font-size: 15px;

}
.weather{
    display: none;
}